---
import { parseCSVFromString } from "sheethuahua";
import Layout from "../../layouts/Layout.astro";
import DirectorsAccordion from "../../components/directors-dialogue/directors-accordion.svelte";
import InterviewCardButton from "../../components/landing/InterviewCardButton.vue";
import rawDirectors from "../../../scripts/subtitles/out/directors.json";
import wordFrequencyCsv from "../../../scripts/subtitles/out/word-frequency.csv?raw";
import { wordFrequencyTable } from "../../components/directors-dialogue/model";
import type {
  Director,
  Movie,
} from "../../components/directors-dialogue/model";

const wordFrequency = await parseCSVFromString(
  wordFrequencyCsv,
  wordFrequencyTable,
);

const directors = rawDirectors
  .map<Director>((director) => {
    const movies = director.movies
      .map((movie) => ({
        ...movie,
        image: `/directors-dialogue/posters/${movie.image.split("/").at(-1)?.replace(".jpg", ".webp")}`,
        wordsPerMinute: Math.round(movie.wordsPerMinute * 10) / 10,
        wordFrequency: wordFrequency.reduce<Movie["wordFrequency"]>(
          (arr, { movieId, ...rest }) => {
            if (movieId === movie.id) {
              arr.push(rest);
            }
            return arr;
          },
          [],
        ),
      }))
      .sort((a, z) => a.wordsPerMinute - z.wordsPerMinute);

    const averageWordsPerMinute =
      Math.round(
        (movies.reduce((sum, { wordsPerMinute }) => sum + wordsPerMinute, 0) /
          movies.length) *
          10,
      ) / 10;

    return {
      ...director,
      movies,
      averageWordsPerMinute,
    };
  })
  .sort((a, z) => a.averageWordsPerMinute - z.averageWordsPerMinute);

const maxWordsPerMinute = Math.max(
  ...directors.flatMap(({ movies }) => movies.map((m) => m.wordsPerMinute)),
);
const maxMinutes = Math.max(...wordFrequency.map((w) => w.minute));
const maxFrequency = Math.max(
  ...wordFrequency.map((w) => w.negative + w.neutral + w.positive),
);
---

<Layout title="Directors' Dialogue">
  <main
    class="flex bg-neutral-900 text-neutral-100 min-h-screen h-full justify-center"
  >
    <a href="/">
      <div
        class="cursor-pointer fixed top-1 left-1 md:top-2 md:left-2 z-20 border-[1px] border-black shadow-xl"
      >
        <img class="w-[25px] md:w-[40px]" src="/landing/pu_logo.png" alt="" />
      </div>
    </a>
    <InterviewCardButton client:load id="4" />
    <div
      class="flex flex-col w-full max-w-screen-xl px-3 py-8 md:py-16 items-center"
    >
      <h1 class="typo-h2 font-head font-bold text-center">
        Directors' Dialogue
      </h1>
      <p class="mt-6 mb-7 md:mb-14 indent-12 max-w-screen-md">
        Could we see some director' styles by analyzing their dialogue? From the
        directors with diverse nationalities whom I am familiar with, here are
        the visualization of their movies' dialogue based on English subtitles
        (translated if not originally in English).
      </p>
      <DirectorsAccordion
        client:load
        {directors}
        {maxWordsPerMinute}
        {maxMinutes}
        {maxFrequency}
      />
    </div>
  </main>
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
  h1 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
  }
</style>
