---
import Layout from "../layouts/Layout.astro";
import "@fontsource/kanit";
import AnimeIndustryComp from "../components/anime-industry/AnimeIndustryComp";
import InterviewCardButton from "../components/landing/InterviewCardButton.vue";
---

<Layout title="Anime Industry">
  <AnimeIndustryComp client:only="react" />
  <a href="/2024">
    <div
      class="cursor-pointer fixed top-1 left-1 md:top-2 md:left-2 z-20 border-[1px] border-black shadow-xl"
    >
      <img
        class="w-[25px] md:w-[40px]"
        src={import.meta.env.BASE_URL + "/landing/pu_logo.png"}
        alt=""
      />
    </div>
  </a>
  <InterviewCardButton client:load id="3" />
</Layout>

<style>
  body {
    /* background-color: #000000; */
  }
</style>
