---
import Layout from "../../layouts/Layout.astro";
import DecadeOfGenreComp from "../../components/a-decade-of-genre/DecadeOfGenreComp.vue";
import InterviewCardButton from "../../components/landing/InterviewCardButton.vue";
---

<Layout title="Decade of Genre Diversity">
  <DecadeOfGenreComp client:only />
  <a href="/">
    <div
      class="cursor-pointer fixed top-1 left-1 md:top-2 md:left-2 z-20 border-[1px] border-black shadow-xl"
    >
      <img class="w-[25px] md:w-[40px]" src="/landing/pu_logo.png" alt="" />
    </div>
  </a>
  <InterviewCardButton client:load id="2" />
</Layout>

<style>
  body {
    background-color: #000000;
  }
</style>
