---
import DayRatio from "./day-ratio.astro";
import TabButton from "./tab-button.astro";
import Content1Idea from "./content-1-idea.astro";
import Content2Task from "./content-2-task.astro";
import Content3Development from "./content-3-development.astro";
import Content4Standup from "./content-4-standup.astro";
import Content5Reflection from "./content-5-reflection.astro";
import Content6Presentation from "./content-6-presentation.astro";
---

<section class="bg-green-2">
  <div
    class="justify-center items-center flex flex-col py-4 md:py-8 gap-4 md:gap-8"
  >
    <h2 class="text-h2 font-bold text-center">BEHIDE THE SCENE</h2>
    <p class="font-bold">Activities:</p>

    <div class="grid grid-cols-5 w-full border border-red">
      <DayRatio
        items={[
          ["bg-black", 30],
          ["bg-gray", 30],
          ["bg-green-1", 30],
          ["bg-purple-1", 10],
        ]}>Day 1</DayRatio
      >
      <DayRatio
        items={[
          ["bg-peach", 10],
          ["bg-green-1", 80],
          ["bg-purple-1", 10],
        ]}>Day 2</DayRatio
      >
      <DayRatio
        items={[
          ["bg-peach", 10],
          ["bg-green-1", 80],
          ["bg-purple-1", 10],
        ]}>Day 3</DayRatio
      >
      <DayRatio
        items={[
          ["bg-peach", 10],
          ["bg-green-1", 80],
          ["bg-purple-1", 10],
        ]}>Day 4</DayRatio
      >
      <DayRatio
        items={[
          ["bg-peach", 10],
          ["bg-green-1", 40],
          ["bg-pink", 40],
          ["bg-purple-1", 10],
        ]}>Day 5</DayRatio
      >
    </div>
  </div>

  <div class="flex flex-row flex-wrap gap-1 justify-center">
    <TabButton class="bg-black" title="Idea Pitching" />
    <TabButton class="bg-gray" title="Tasks Planning" />
    <TabButton class="bg-green-1" title="Project Development" />
    <TabButton class="bg-peach" title="1-1 Standup Meeting" />
    <TabButton class="bg-purple-2" title="Reflection" />
    <TabButton class="bg-pink" title="Presentations" />
  </div>
</section>

<section class="bg-white">
  <div class="flex flex-col items-center gap-8">
    <div class="tab-folder w-full max-w-4xl">
      <Content2Task />
      <Content3Development />
      <Content4Standup />
      <Content5Reflection />
      <Content6Presentation />
      <!-- default tab must be last -->
      <Content1Idea />
    </div>
  </div>
</section>

<style is:global>
  .tab-folder > div:target ~ div:last-child,
  .tab-folder > div {
    display: none;
  }
  .tab-folder > :last-child,
  .tab-folder > div:target {
    display: block;
  }
</style>
