---
import DayRatio from "./day-ratio.astro";
import TabButton from "./tab-button.astro";
import TabContent from "./tab-content.astro";
---

<section class="bg-green-2">
  <div
    class="justify-center items-center flex flex-col py-4 md:py-8 gap-4 md:gap-8"
  >
    <h2 class="text-h2 font-bold text-center">BEHIDE THE SCENE</h2>
    <p class="font-bold">Activities:</p>

    <div class="grid grid-cols-5 w-full border border-red">
      <DayRatio
        items={[
          ["bg-black", 30],
          ["bg-gray", 30],
          ["bg-green-1", 30],
          ["bg-purple-1", 10],
        ]}>Day 1</DayRatio
      >
      <DayRatio
        items={[
          ["bg-peach", 10],
          ["bg-green-1", 80],
          ["bg-purple-1", 10],
        ]}>Day 2</DayRatio
      >
      <DayRatio
        items={[
          ["bg-peach", 10],
          ["bg-green-1", 80],
          ["bg-purple-1", 10],
        ]}>Day 3</DayRatio
      >
      <DayRatio
        items={[
          ["bg-peach", 10],
          ["bg-green-1", 80],
          ["bg-purple-1", 10],
        ]}>Day 4</DayRatio
      >
      <DayRatio
        items={[
          ["bg-peach", 10],
          ["bg-green-1", 40],
          ["bg-pink", 40],
          ["bg-purple-1", 10],
        ]}>Day 5</DayRatio
      >
    </div>
  </div>

  <div class="flex flex-col items-center gap-4">
    <div class="flex flex-row flex-wrap gap-1 justify-center">
      <TabButton class="bg-black" title="Idea Pitching" />
      <TabButton class="bg-gray" title="Tasks Planning" />
      <TabButton class="bg-green-1" title="Project Development" />
      <TabButton class="bg-peach" title="1-1 Standup Meeting" />
      <TabButton class="bg-purple-2" title="Reflection" />
      <TabButton class="bg-pink" title="Presentations" />
    </div>
    <div class="tab-folder w-full max-w-4xl">
      <TabContent title="Tasks Planning" />
      <TabContent title="Project Development" />
      <TabContent title="1-1 Standup Meeting" />
      <TabContent title="Reflection" />
      <TabContent title="Presentations" />
      <!-- default tab must be last -->
      <TabContent title="Idea Pitching" />
    </div>
  </div>
</section>

<style is:global>
  .tab-folder > div:target ~ div:last-child,
  .tab-folder > div {
    display: none;
  }
  .tab-folder > :last-child,
  .tab-folder > div:target {
    display: block;
  }
</style>
