---
import TabContent from "./tab-content.astro";
---

<TabContent title="Reflection">
  <p class="text-center">
    At the end of each day, everyone came together to see whose mental state was
    breaking down that day.
  </p>
</TabContent>
