---
import TabContent from "./tab-content.astro";
import { Image } from "astro:assets";
import img21 from "../images/2-1.jpg";
---

<TabContent title="Tasks Planning">
  <Image src={img21} width={375} alt="" class="mx-auto" />
  <p class="mt-6">
    To make sure every project was feasible within a five-day workload (four
    full days, to be exact), everyone had to create a task planning board, where
    they thought realistically about what they wanted to achieve each day.
    However, it was normal for some tasks to be overestimated or underestimated.
    The red quarter-circle sticker placed at the bottom corner indicates which
    tasks were not completed as planned. The peach triangle sticker placed at
    the top corner indicates unexpected tasks that were added along the process.
  </p>
</TabContent>
