---
import TabContent from "./tab-content.astro";
import VideoBlock from "./video-block.astro";
---

<TabContent title="Idea Pitching">
  <p>
    Anyone who wanted to propose project ideas was given two minutes to present.
    If others found an idea interesting, they could form a team and work
    together. Initially, we — Lookkid and Jug, the organizers — were concerned
    that not enough ideas would be proposed, leading to teams that were too
    large. It turned out that everyone came with their own ideas and a strong
    intention to work on them.
  </p>
  <div class="grid grid-cols-2 gap-2 md:gap-4 mt-6">
    <VideoBlock src="/videos/1-1.mp4" />
    <VideoBlock src="/videos/1-2.mp4" />
  </div>
</TabContent>
