---
import TabContent from "./tab-content.astro";
import VideoBlock from "./video-block.astro";
---

<TabContent title="Project Development">
  <p class="mb-6 text-center">Work. Work. Work.</p>
  <VideoBlock src="/videos/3-1.mp4" />
  <div class="grid grid-cols-2 md:grid-cols-3 gap-2 md:gap-4 mt-2 md:mt-4">
    <VideoBlock src="/videos/3-2.mp4" />
    <VideoBlock src="/videos/3-3.mp4" />
    <VideoBlock src="/videos/3-4.mp4" />
    <VideoBlock src="/videos/3-5.mp4" />
    <VideoBlock src="/videos/3-6.mp4" />
    <VideoBlock src="/videos/3-7.mp4" />
  </div>
</TabContent>
