---
import TabContent from "./tab-content.astro";
---

<TabContent title="Presentations">
  <p class="text-center">
    This was the first time our bosses got to see what the hell was going on
    during these five days.
  </p>
</TabContent>
