---
import ProjectCard from "./project-card.astro";
---

<section class="bg-black">
  <div class="justify-center flex flex-col py-4 md:py-8 gap-4 md:gap-8">
    <h2 class="text-h2 text-center text-green-2 font-bold">8 PROJECTS</h2>

    <div class="grid md:grid-cols-2 gap-3">
      <div class="flex flex-col gap-3">
        <ProjectCard
          projectName="Project Name"
          projectImage="https://placehold.co/800x400"
          projectUrl="#"
          outputType="Output type"
          description="[Description] Lorem ipsum dolor sit amet consectetur. Id leo malesuada quis bibendum quam pharetra. Massa odio scelerisque volutpat aliquet ac ultrices at tincidunt aliquam."
          creatorName="Name Surname (Nickname)"
          creatorImage="https://placehold.co/100x100"
          creatorPosition="Position"
        >
          <h5>Why this topic?</h5>
          <p>
            “[Why this topic] Lorem ipsum dolor sit amet consectetur. Interdum
            eu porta posuere non bibendum risus sapien. Orci dui faucibus
            aliquet senectus volutpat eget bibendum. Tincidunt sagittis laoreet
            pulvinar id tellus sed pellentesque convallis. Enim nullam sed
            sapien hendrerit molestie est sit dolor. Ac tincidunt vestibulum
            porta elit nunc lobortis elit commodo scelerisque. Dictum facilisi
            ut diam quis dignissim justo commodo. Mattis massa tortor nec id
            gravida mauris ac vestibulum.”
          </p>
          <h5>Things you’ve never done in your usual work</h5>
          <p>
            “Lorem ipsum dolor sit amet consectetur. Interdum eu porta posuere
            non bibendum risus sapien. Orci dui faucibus aliquet senectus
            volutpat eget bibendum. Tincidunt sagittis laoreet pulvinar id
            tellus sed pellentesque convallis. Enim nullam sed sapien hendrerit
            molestie est sit dolor. Ac tincidunt vestibulum porta elit nunc
            lobortis elit commodo scelerisque. Dictum facilisi ut diam quis
            dignissim justo commodo. Mattis massa tortor nec id gravida mauris
            ac vestibulum.”
          </p>
          <h5>How did you feel after trying it?</h5>
          <p>
            “Lorem ipsum dolor sit amet consectetur. Interdum eu porta posuere
            non bibendum risus sapien. Orci dui faucibus aliquet senectus
            volutpat eget bibendum. Tincidunt sagittis laoreet pulvinar id
            tellus sed pellentesque convallis. Enim nullam sed sapien hendrerit
            molestie est sit dolor. Ac tincidunt vestibulum porta elit nunc
            lobortis elit commodo scelerisque. Dictum facilisi ut diam quis
            dignissim justo commodo. Mattis massa tortor nec id gravida mauris
            ac vestibulum.”
          </p>
        </ProjectCard>
        <ProjectCard
          projectName="Project Name"
          projectImage="https://placehold.co/800x400"
          projectUrl="#"
          outputType="Output type"
          description="[Description] Lorem ipsum dolor sit amet consectetur. Id leo malesuada quis bibendum quam pharetra. Massa odio scelerisque volutpat aliquet ac ultrices at tincidunt aliquam."
          creatorName="Name Surname (Nickname)"
          creatorImage="https://placehold.co/100x100"
          creatorPosition="Position"
        >
          <h5>Why this topic?</h5>
          <p>
            “[Why this topic] Lorem ipsum dolor sit amet consectetur. Interdum
            eu porta posuere non bibendum risus sapien. Orci dui faucibus
            aliquet senectus volutpat eget bibendum. Tincidunt sagittis laoreet
            pulvinar id tellus sed pellentesque convallis. Enim nullam sed
            sapien hendrerit molestie est sit dolor. Ac tincidunt vestibulum
            porta elit nunc lobortis elit commodo scelerisque. Dictum facilisi
            ut diam quis dignissim justo commodo. Mattis massa tortor nec id
            gravida mauris ac vestibulum.”
          </p>
          <h5>Things you’ve never done in your usual work</h5>
          <p>
            “Lorem ipsum dolor sit amet consectetur. Interdum eu porta posuere
            non bibendum risus sapien. Orci dui faucibus aliquet senectus
            volutpat eget bibendum. Tincidunt sagittis laoreet pulvinar id
            tellus sed pellentesque convallis. Enim nullam sed sapien hendrerit
            molestie est sit dolor. Ac tincidunt vestibulum porta elit nunc
            lobortis elit commodo scelerisque. Dictum facilisi ut diam quis
            dignissim justo commodo. Mattis massa tortor nec id gravida mauris
            ac vestibulum.”
          </p>
          <h5>How did you feel after trying it?</h5>
          <p>
            “Lorem ipsum dolor sit amet consectetur. Interdum eu porta posuere
            non bibendum risus sapien. Orci dui faucibus aliquet senectus
            volutpat eget bibendum. Tincidunt sagittis laoreet pulvinar id
            tellus sed pellentesque convallis. Enim nullam sed sapien hendrerit
            molestie est sit dolor. Ac tincidunt vestibulum porta elit nunc
            lobortis elit commodo scelerisque. Dictum facilisi ut diam quis
            dignissim justo commodo. Mattis massa tortor nec id gravida mauris
            ac vestibulum.”
          </p>
        </ProjectCard>
      </div>
      <div class="flex flex-col gap-3">
        <ProjectCard
          projectName="Project Name"
          projectImage="https://placehold.co/800x400"
          projectUrl="#"
          outputType="Output type"
          description="[Description] Lorem ipsum dolor sit amet consectetur. I"
          creatorName="Name Surname (Nickname)"
          creatorImage="https://placehold.co/100x100"
          creatorPosition="Position"
        >
          <h5>Why this topic?</h5>
          <p>
            “[Why this topic] Lorem ipsum dolor sit amet consectetur. Interdum
            eu porta posuere non bibendum risus sapien. Orci dui faucibus
            aliquet senectus volutpat eget bibendum. Tincidunt sagittis laoreet
            pulvinar id tellus sed pellentesque convallis. Enim nullam sed
            sapien hendrerit molestie est sit dolor. Ac tincidunt vestibulum
            porta elit nunc lobortis elit commodo scelerisque. Dictum facilisi
            ut diam quis dignissim justo commodo. Mattis massa tortor nec id
            gravida mauris ac vestibulum.”
          </p>
          <h5>Things you’ve never done in your usual work</h5>
          <p>
            “Lorem ipsum dolor sit amet consectetur. Interdum eu porta posuere
            non bibendum risus sapien. Orci dui faucibus aliquet senectus
            volutpat eget bibendum. Tincidunt sagittis laoreet pulvinar id
            tellus sed pellentesque convallis. Enim nullam sed sapien hendrerit
            molestie est sit dolor. Ac tincidunt vestibulum porta elit nunc
            lobortis elit commodo scelerisque. Dictum facilisi ut diam quis
            dignissim justo commodo. Mattis massa tortor nec id gravida mauris
            ac vestibulum.”
          </p>
          <h5>How did you feel after trying it?</h5>
          <p>
            “Lorem ipsum dolor sit amet consectetur. Interdum eu porta posuere
            non bibendum risus sapien. Orci dui faucibus aliquet senectus
            volutpat eget bibendum. Tincidunt sagittis laoreet pulvinar id
            tellus sed pellentesque convallis. Enim nullam sed sapien hendrerit
            molestie est sit dolor. Ac tincidunt vestibulum porta elit nunc
            lobortis elit commodo scelerisque. Dictum facilisi ut diam quis
            dignissim justo commodo. Mattis massa tortor nec id gravida mauris
            ac vestibulum.”
          </p>
        </ProjectCard>
        <ProjectCard
          projectName="Project Name"
          projectImage="https://placehold.co/800x400"
          projectUrl="#"
          outputType="Output type"
          description="[Description] Lorem ipsum dolor sit amet consectetur. Id leo malesuada quis bibendum quam pharetra. Massa odio scelerisque volutpat aliquet ac ultrices at tincidunt aliquam."
          creatorName="Name Surname (Nickname)"
          creatorImage="https://placehold.co/100x100"
          creatorPosition="Position"
        >
          <h5>Why this topic?</h5>
          <p>
            “[Why this topic] Lorem ipsum dolor sit amet consectetur. Interdum
            eu porta posuere non bibendum risus sapien. Orci dui faucibus
            aliquet senectus volutpat eget bibendum. Tincidunt sagittis laoreet
            pulvinar id tellus sed pellentesque convallis. Enim nullam sed
            sapien hendrerit molestie est sit dolor. Ac tincidunt vestibulum
            porta elit nunc lobortis elit commodo scelerisque. Dictum facilisi
            ut diam quis dignissim justo commodo. Mattis massa tortor nec id
            gravida mauris ac vestibulum.”
          </p>
          <h5>Things you’ve never done in your usual work</h5>
          <p>
            “Lorem ipsum dolor sit amet consectetur. Interdum eu porta posuere
            non bibendum risus sapien. Orci dui faucibus aliquet senectus
            volutpat eget bibendum. Tincidunt sagittis laoreet pulvinar id
            tellus sed pellentesque convallis. Enim nullam sed sapien hendrerit
            molestie est sit dolor. Ac tincidunt vestibulum porta elit nunc
            lobortis elit commodo scelerisque. Dictum facilisi ut diam quis
            dignissim justo commodo. Mattis massa tortor nec id gravida mauris
            ac vestibulum.”
          </p>
          <h5>How did you feel after trying it?</h5>
          <p>
            “Lorem ipsum dolor sit amet consectetur. Interdum eu porta posuere
            non bibendum risus sapien. Orci dui faucibus aliquet senectus
            volutpat eget bibendum. Tincidunt sagittis laoreet pulvinar id
            tellus sed pellentesque convallis. Enim nullam sed sapien hendrerit
            molestie est sit dolor. Ac tincidunt vestibulum porta elit nunc
            lobortis elit commodo scelerisque. Dictum facilisi ut diam quis
            dignissim justo commodo. Mattis massa tortor nec id gravida mauris
            ac vestibulum.”
          </p>
        </ProjectCard>
      </div>
    </div>
  </div>
</section>

<style>
  h5 {
    font-weight: bold;
  }
</style>
