---
import Layout from "../layouts/Layout.astro";
import Main from "../components/disney-in-colors/Main.vue";
import InterviewCardButton from "../components/landing/InterviewCardButton.vue";
---

<Layout title="Disney in Colors">
  <div>
    <Main client:only />
    <a href="/">
      <div
        class="cursor-pointer fixed top-1 left-1 md:top-2 md:left-2 z-20 border-[1px] border-black shadow-xl"
      >
        <img class="w-[25px] md:w-[40px]" src="/landing/pu_logo.png" alt="" />
      </div>
    </a>
    <InterviewCardButton client:load id="5" />
  </div>
</Layout>
