---
import Layout from "../layouts/Layout.astro";
import ProjectPage from "../components/landing/ProjectPage.vue";
---

<Layout>
  <div>
    <!-- <div class="fixed flex justify-between top-0 left-0 right-0">
      <div><img src="" alt="" /></div>
      <div class="flex gap-1 p-2">
        <div
          class="bg-[#FFFC71] px-3 py-[2px] rounded-[20px] border-[1px] border-black cursor-pointer"
        >
          <p class="typo-b4 translate-y-[1px]">EN</p>
        </div>
        <div
          class="bg-white px-3 py-[2px] rounded-[20px] border-[1px] border-black cursor-pointer"
        >
          <p class="typo-b4 translate-y-[1px]">TH</p>
        </div>
      </div>
    </div> -->

    <div
      class="bg-black text-[#FFFC71] min-h-screen flex flex-col text-center justify-center items-center overflow-x-hidden"
    >
      <div class="flex flex-col items-center pt-12">
        <p
          class="text-[40px] md:text-[70px] xl:text-[100px] font-bold tracking-widest"
        >
          Visualization
        </p>
        <p
          class="text-[40px] md:text-[70px] xl:text-[100px] font-bold leading-none tracking-widest"
        >
          PLAYGROUND
        </p>
      </div>

      <div class="py-14 flex flex-col gap-10">
        <div class="w-[300px] md:w-[550px]">
          <p class="typo-b4">
            Welcome to our Visualization Playground! At Punch Up, we embraced a
            spirit of experimentation and discovery. Through small, 2-3 week
            projects focused on movies and animation, our team of technologists
            explored new data visualization techniques, learning from our
            successes and failures along the way.
          </p>
        </div>
        <div class="w-[300px] md:w-[550px]">
          <p class="typo-b5">
            Traditionally, design decisions at Punch Up have been driven by our
            design team. However, we recognize the value of involving our
            developers in the creative process. By allowing them to experiment
            with different visualization techniques, we aim to improve their
            understanding of the technical challenges and opportunities involved
            in data visualization, enabling them to provide more informed
            feedback and contribute to better design solutions.
          </p>
        </div>
      </div>
    </div>

    <ProjectPage client:only />
  </div>
</Layout>

<style scoped></style>
